table {
    display:inline-block;
}

table, td, th {
    border: 1px solid black;
}

.center-cell {
    text-align: center;
}

#buttons_container {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

button {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
